body {
    margin: 0; /*убираем margin*/
    font-family: 'Montserrat', sans-serif; /*основной шрифт*/
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 15px; /*размер шрифта*/
    line-height: 1.6; /*межстрочный отступ*/
    color: #333; /*цвет шрифта? по умолчанию*/
     /*background-color: #ebe0db;*/

}

/* body {
    background: white no-repeat center cover fixed;
    background-image: url(https://picsum.photos/1024/768);
    background-size: cover;
    transition: 2s;
  } */

*,
*:before, /*псевдоэлементы?*/
*:after {
    box-sizing: border-box;
} /*свойство определения размеров для всех элементов страницы*/
h1, h2, h3, h4, h5, h6 {
    margin: 0; /*сброс margin`ов для всех заголовков*/
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;
}

/* page */

.hide {
    display: none;
}

.page {
    overflow: hidden;
}


/*========КОНТЕЙНЕР 1200==========*/
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto; /*выравнивание по центру*/
}

/*=========ИНТРО=======*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    /*префиксы? можно посмотреть на caniuse.com*/
    -webkit-background-size: cover; /*???*/
    background-size: cover; /*на всю площадь экрана*/
    background: url(../images/intro1.jpg) center no-repeat;
}

.intro--noback {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*width: 1%;*/
    height: 0vh;
    min-height: 0px;
    /*position: relative;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*background: url(../images/intro1.jpg) center no-repeat;*/
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;

}

.intro__suptitle {
    /* font-family: 'Roboto', sans-serif; */
    margin: 25px 0px 0px -400px;
    font-size: 64px;
    color: #fff;
    /* font-style: italic; */
    font-family: 'Kaushan Script';


}

.intro__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 150px;
    /* font-style: italic; */
    font-weight: 700;
    /* text-transform: uppercase; */
    line-height: 1; /*высота между строками*/
    color: #fff;
}

.intro__title:after { /*полоса*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ccc;
    margin: 60px auto; /*отступ 60 и центрация*/
}

/*==========HEADER=======*/
.header {
    width: 100%;
    padding-top: 30px; /*отступ элементов шапки сверху*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /*индекс расположения? сверху*/
}

.header.fixed {
    padding: 10px 0;
    background-color: #985739;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* border-top: #333 1px solid; */

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #985739;
}

.header__inner {
    display: flex;
    justify-content: space-between; /*расположение элементов внутри flеxbox`а*/
    align-items: center; /*выравниваем элементы по горизонт/центр*/

}

.header__logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: 700; /*bold*/
    color: #ccc;
    text-decoration: none;
    transition: color .1s linear;
}

.header__logo:hover{
    color: #fff;
}

/*========NAV=======*/
.nav {
    font-size: 14px;
    text-transform: uppercase; /*большими буквами*/
}

.nav__link {
    display: inline-block; /*расположение в строку с доп.свойствами (например margin)?*/
    vertical-align: top; /*Свойство CSS vertical-align описывает вертикальное позиционирование строчных (inline), строчно-блочных (inline-block) элементов или ячеек таблицы (table-cell).*/
    margin: 0 15px; /*отступ слева 15px?*/
    position: relative;

    color: #ccc;
    text-decoration: none; /*убрал подчёркивание ссылок*/
    transition: color .1s linear; /*0,3 сек плавный переход цвета*/
}

.nav__link:after { /*полоска под навигацией*/
    content: ""; /*свойство контент(пустое?)*/
    display: block; /*почему блок?*/
    width: 100%;
    height: 3px;
    background-color: #fff;
    opacity: 0; /*прозрачность 100%*/
    position: absolute; /*относительно родителя*/
    top: 100%; /*расположение в самом низу*/
    left: 0;
    z-index: 1;
    transition: opacity .1s linear; /*скорость "прозрачности"*/
}

.whatsup:after {
    background-color: transparent;
}

.nav__link:hover {
    color: #fff; /*смена цвета при наведении*/
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1; /*прозрачность 0%*/
}

.nav__link.active { /*привязать к слайдеру*/
    color: #fff;
}


/* nav-toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    display: none;

    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;

}

.nav-toggle.active .nav-toggle__item {
    background: none;
}



.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    background-color: #ccc;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0, -2px, 0);
    
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0, 3px, 0);
}




/*==========BUTTON========*/

.btn { 
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #ccc; /*граница кнопки*/
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; /*убираем подчёркивание ссылки*/
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #ccc; /*color: #333;    ???*/
}

/*========SLIDER======*/

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 5px 0;
    position: relative;
    border-top: 3px solid #ccc;
    opacity: .7;
    font-size: 18px;
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .1s linear;
}

.slider__item:hover {
    color: #fff;
    border-top: 3px solid #fff;
    /* text-transform: uppercase; */
}

.slider__item.active { /*СДЕЛАТЬ СЛАЙДЕР РАБОЧИМ!!!!1111*/
    opacity: 1;
}

.slider__item.active:before {/*СДЕЛАТЬ СЛАЙДЕР РАБОЧИМ!!!!1111*/
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #985739;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__text {
    font-size: 20px;
    font-weight: 700;
}

.slider__num {
    font-size: 24px;
    transition: color .1s linear;
    /* font-weight: 700; */
}




/*=====SECTION=======*/

.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url(../images/devices/devices-bg.jpg) center no-repeat;
    background-size: cover;
}

.section--grey {
    background-color: #f8f8f8;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map/map-bg.jpg") center no-repeat;
    -webkit-background-size : cover;
    background-size: cover;
    cursor: pointer;
}

.section--reviews2 {
    padding: 40px 0 80px 0;
}

.section--registration {
    padding: 80px 0 40px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px; /*верх0/левправо-центр/отступ низ40*/
    text-align: center;
}

.section--clients {
    background: #f5f5f5
    url("../images/clients/clients-bg.jpg") center no-repeat;
    -webkit-background-size : cover;
    background-size: cover;

}

.section--works {
    padding: 80px 0 0px 0;
}

.story{
    padding: 0px 0 0px 0;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto; /*выравниваем по центру марджином*/
    background-color: #985739;
}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}


/*======card======*/

.card{
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    /* background-color: #95e1d3; ориг #999 цвет под изображением */
    width: 33.33333%;
    padding: 0 15px;
    /*z-index: 9999;*/
    /* position: relative; позиционируем текст поверх картинки (а не внизу) */
}

.card__inner {
    background-color: #ccc;
    position: relative;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0); /*смещаем картинку*/
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__img {
    background: linear-gradient(to bottom, #985739, #c08569); /*градиент представляет собой переходы от одного цвета к другому поверх изобр*/
    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}


.card__icon {
    color: #ccc ;
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 43.75%;
    /*z-index: 3;*/
    opacity: 0;
    transition: opacity .1s linear;
}

.card__text {
    padding: 30px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    /* font-weight: 700; */
    text-align: center;
    opacity: 0; /*скрываем текст*/


    position: absolute; /*позиционируем текст поверх картинки (а не внизу)*/
    top: 45%;
    left:-1.75%;
    /*z-index: 2;*/
    /* transform: translate3d(0, -50%, 0); */
    /* transition: transform .2s linear; */

    transition: opacity .1s linear; /*прозрачность текста*/
}
 /*СДВИНУТЬ ТЕКСТ ЛЕВО/ВЕРХ, ДОБАВИТЬ ИКОНКИ, ССЫЛКИ*/
.card__inner:hover .card__text {
    opacity: 1; /*показываем текст*/
}

/*СДВИНУТЬ ТЕКСТ ЛЕВО/ВЕРХ, ДОБАВИТЬ ИКОНКИ, ССЫЛКИ*/
.card__item:hover .card__icon {
   opacity: 1; /*показываем текст*/
}

.card__info {
    margin-top: 20px;
    text-align: center;
}


.card__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 4px;
    
}

.card__prof {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}














/*======card======*/
/*======card======*/

.card__item--active {
    width: 33.33333%;
    padding: 0 15px;
}
.card__inner--active {
    background-color: #ccc;
    position: relative;
}
.card__img--active {
    /*background: linear-gradient(to bottom, #985739, #c08569);*/
    background: linear-gradient(to bottom, #985739, #c08569);
    transform: translate3d(-10px, -10px, 0); /*смещаем картинку*/
    transition: transform .2s linear;
}
.card__img--active img {
    opacity: .1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;

}
.card__icon--active {
    color: #ccc;
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 43.75%;
    /*z-index: 3;*/
    opacity: 1;
    transition: opacity .1s linear;
}
.card__text--active {
    padding: 30px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 1; /*скрываем текст*/
    position: absolute; /*позиционируем текст поверх картинки (а не внизу)*/
    top: 45%;
    left: -1.75%;
    /*z-index: 2;*/
    transition: opacity .1s linear; /*прозрачность текста*/
}

/*hover*/
.card__inner--active:hover .card__img--active {
    transform: translate3d(0, 0, 0); /*смещаем картинку*/
}
.card__inner--active:hover .card__img--active img {
    opacity: 1;
}
.card__inner--active:hover .card__text--active {
    opacity: 0; /*показываем текст*/
}
.card__item--active:hover .card__icon--active {
    opacity: 0; /*показываем текст*/
}
















/*=============СТАТИСТИКА==================*/
/*=============СТАТИСТИКА==================*/

.statistics {
    background-color: #ccc; /*#95e1d3*/
    /*border-bottom: #985739 2px solid;*/
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0; /*ячейки одинаковой ширины?????????*/
    padding: 15px 15px;
    border-left: 1px solid #fff;
    text-align: center;
    color: #fff;
    transition: background .1s linear, color .1s linear;
}

.stat__item:hover {
    background-color: #c2c2c2;
}

.stat__item:last-child { /*бордер для крайнего правого элемента*/
    border-right: 1px solid #fff;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1; /* устанавливает величину пространства между строками*/
}

.stat__text {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}

/*===================SERVICES++++++++++++++++++*/

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    /* flex: 1 1 0; ячейки одинаковой ширины????????? */
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    font-size: 30px;
    color: #6b3d28;
    position: absolute;
    top: -10px;
    left: 28px;
    z-index: 1;
}

.services__title{
    font-size: 14px;
    /* font-weight: 700; */
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

/*===========DEVICES====================*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*=============WEDO===============*/

.wedo {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.wedo__item {
    width: 45%; /*можно было flex: 1 1 0;*/
    /*padding: 0 15px;*/
    margin-left: 10px;
}

.wedo__item--photo {
    width: 45%; /*можно было flex: 1 1 0;*/
    margin-right: 10px;
    max-height: 380px;
    /*padding: 0 15px;*/
    /*position: relative;*/
    background-color: #cccccc;
}


.wedo__img {
    width: 100%;
    /*position: absolute;*/
    /*display: block;*/
    /*max-width: 100%;*/
    height: 100%;
    transform: translate3d(-10px, -10px, 0);
}



/*============accordion========*/

.accordion__item {
    margin-bottom: 10px;
    border: solid 1px #e5e5e5;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;

}

.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
    rotate(-45deg); /*вращаем*/
    margin-top: 5px; /*выравниваем визуально*/
}


.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;

    border-bottom: solid 1px transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    margin-top: -5px; /*выравниваем визуально*/

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg); /*вращаем*/
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px; /*вровень с контентом*/
    z-index: 1;

    transform: translateY(-50%); /*выравниваем по Y*/

}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*=======Reviews========*/

.reviews {
    position: relative;
    /* padding: 0 110px; */
}

.reviews .slick-slider {
    padding: 0 110px;
}


.reviews__item {
    min-height: 210px;
    margin-bottom: 50px;
    padding-left: 240px;
    position: relative;
}

.reviews__photo {
    object-fit: cover;
    display: block;
    width: 210px;
    height: 210px;
    /*width: 100%;*/
    /*height: 100%;*/
     border: 2px solid #985739;
     border-radius: 50%;
    /*overflow: hidden;*/
    /* width: 18%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #999;
    /* margin-bottom: 20px; */
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #985739;
    margin-right: 10px;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);

    cursor: pointer;
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0;
    transform: rotate(135deg);
}


/*============SOCIAL++++++++*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 13px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;

    line-height: 1;
    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

/*=====LOGOS========*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*===========WORKS===+++++++++++++*/

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0; /*?????????????????*/
}


.works__item {
    /* max-width: 360px; */
    position: relative;
    background: linear-gradient(to bottom, #985739, #fff);
}

.works__item:hover .works__image{
    opacity: .1;
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__image {
    display: block;
    transition: opacity .2s linear;

    max-width: 100%;
    /* max-wi   dth: 360px; */
    height: auto;
}

.works__info {
    
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear ;
}

.works__title {
    margin: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}








/* REGISTRATION */

.reg__item {
    /* border: #98ff12 1px solid; */
    display: flex;
    justify-content: center;
}



.reg__img {
    padding: 5px;
    margin: 3px;
    width: 30%;
    /* border: 1px solid #761dc9; */
}


.reg__input {
    width: 30%;
    /* min-width: 300px; */
    height: 32px;
    padding: 5px;
    margin: 1px;
    background: #fff;
    border: #ccc 1px solid;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #333;
    font-weight: 300;
    font-size: 15px;
    /* transition: border .1s linear; */
}

.reg__input:hover {
    border: #999 1px solid;

}

.reg__span {
    /* border: #333 1px solid; */
    padding: 0;
    margin: 8px 0 0 5px;
    width: 30%;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ff4d4d;
    font-weight: 300;
    font-size: 12px;
}


.reg__button {
    height: 32px;
    padding: 5px;
    margin: 1px;
    width: 21%;
    /* min-width: 300px; */
    /* max-width: 250px; */
    background-color: #ccc;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .1s linear;
}

.login__button {
    height: 32px;
    padding: 5px;
    margin: 1px;
    width: 21%;
    background-color: #333;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .1s linear;
    text-align: center;
}

.login__button {
    width: 9%;
}

.login__button:hover {
    width: 9%;
    background-color: #757575;
}


.reg__input::placeholder {
    color: #ccc;
}

.reg__input:focus {
    outline: 0;
    border-color: #333;

}

.reg__button:hover {
    background-color: #333;
}

.reg__button:focus {
    outline: 0;
}

.login__button:focus {
    outline: 0;
} 



















































/*++++++++CLIENTS++++++++*/

.clients {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; /*перенос на новую строку*/

}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    
}

.clients__name {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

.clients__prof {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #333;
    font-weight: 300;
    font-size: 15px;
}

.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

.clients__text:before { /*полоска перед текстом*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #985739;
    margin: 15px 0;
}

/*+++++++++BLOG+++++++++*/

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog--opened {
    /*border-top: #ccc 2px solid;*/
    padding-top: 35px;
    margin-top: 40px;
}

.blog__item {
    margin: 10px 0 10px 0;
    width: 31%;
}

.blog__item--opened{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: #ccc 2px solid;
}

.blog__header {
    position: relative;
    margin-bottom: 15px;
    background-color: #ccc;
}

.blog__inner--opened {
    position: relative;
    margin-bottom: 15px;
    background-color: #ccc;
}

.blog__header--opened {
    max-width: 48%;
    min-width: 48%;
    background-color: transparent;
}


.blog__photo {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .2s linear;
}

.blog__photo--under {
    display: flex;
    justify-content: space-between;
}

.blog_author{
    display: flex;
    align-items: flex-end;
}

.blog__img--opened {
    background-color: #ccc;
    display: block;
}
.blog__photo:hover {
    transform: translate3d(-10px, -10px, 0);
}


.blog__photo--active {
    transform: translate3d(-10px, -10px, 0);
    transition: transform .2s linear;
    /*border: #cccccc 10px solid;*/
}

.blog__photo--active:hover {
    transform: translate3d(0px, 0px, 0px);
    /*transition: transform .2s linear;*/
    /*border: #cccccc 10px solid;*/
}



.blog__date {
    padding: 10px 15px;
    background-color: #985739;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    /* text-align: right; */
}

/*.blog__date--opened{*/
/*    padding: 20px 30px;*/

/*}*/

.blog__date-day {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

/*blog__date-day--opened {*/
/*    font-size: 140px;*/
/*}*/

.blog__date-month {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

/*blog__date-month--opened {*/
/*    font-size: 35px;*/
/*}*/

.blog__content {
    margin-bottom: 14px; /*убрать*/
}

.blog__content--opened {
    /*margin-top: 10px;*/
    max-width: 48%;
    min-width: 48%;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title--opened {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    /*font-style: revert;*/
    color: #333;
    /*text-transform: uppercase;*/
}

.blog__title a {
    text-decoration: none;
    color: inherit; /*ссылка принимает значение родителя*/
}

.blog__title a:hover {
    text-decoration: underline; /*ссылка при наведении*/
}

.blog__text {
    font-family: 'Roboto', sans-serif;
    color: #999;
    /* font-weight: 400; */
    font-size: 15px;
}

/*.blog__text--opened {*/
/*   */
/*}*/

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 15px;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.blog-stat__item i {
    color: #c08569;
    margin-right: 5px;
}





.back__button {
    height: 32px;
    padding: 5px;
    margin-top: 10px;
    width: 25%;
    background-color: #333;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .1s linear;
    text-align: center;
    text-decoration: none;
}


.back__button:hover {
    background-color: #757575;
}



/*======card======*/
/*======card======*/

/*.card__item--active {*/
/*    width: 33.33333%;*/
/*    padding: 0 15px;*/
/*}*/
/*.card__inner--active {*/
/*    background-color: #ccc;*/
/*    position: relative;*/
/*}*/
/*.card__img--active {*/
/*    !*background: linear-gradient(to bottom, #985739, #c08569);*!*/
/*    background: linear-gradient(to bottom, #985739, #c08569);*/
/*    transform: translate3d(-10px, -10px, 0); !*смещаем картинку*!*/
/*    transition: transform .2s linear;*/
/*}*/
/*.card__img--active img {*/
/*    opacity: .1;*/
/*    display: block;*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    transition: opacity .1s linear;*/

/*}*/
/*.card__icon--active {*/
/*    color: #ccc;*/
/*    font-size: 30px;*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    left: 43.75%;*/
/*    z-index: 3;*/
/*    opacity: 1;*/
/*    transition: opacity .1s linear;*/
/*}*/
/*.card__text--active {*/
/*    padding: 30px;*/
/*    width: 100%;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    opacity: 1; !*скрываем текст*!*/
/*    position: absolute; !*позиционируем текст поверх картинки (а не внизу)*!*/
/*    top: 45%;*/
/*    left: -1.75%;*/
/*    z-index: 2;*/
/*    transition: opacity .1s linear; !*прозрачность текста*!*/
/*}*/

/*!*hover*!*/
/*.card__inner--active:hover .card__img--active {*/
/*    transform: translate3d(0, 0, 0); !*смещаем картинку*!*/
/*}*/
/*.card__inner--active:hover .card__img--active img {*/
/*    opacity: 1;*/
/*}*/
/*.card__inner--active:hover .card__text--active {*/
/*    opacity: 0; !*показываем текст*!*/
/*}*/
/*.card__item--active:hover .card__icon--active {*/
/*    opacity: 0; !*показываем текст*!*/
/*}*/


.blog__author a {
    color: inherit; /*ссылка принимает значение родителя*/
    text-decoration: none;
}

.blog__author a:hover {
    text-decoration: underline; /*ссылка при наведении*/
}

/*.blog__author p b{*/
/*    text-transform: none;*/
/*}*/
/**___________MAP+++++++++*/

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    font-weight: 700;
    color: #985739;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0; /*выравниваем по центру марджином*/
    background-color: #985739;
}

.map__title a {
    color: inherit; /*ссылка принимает значение родителя*/
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline; /*ссылка при наведении*/
}

/*=======FOOTER++++++++*/

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    flex-wrap: wrap;
    padding-bottom: 65px;
    margin: 0 -15px;
    justify-content: space-between;
    display: flex;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
width: 40%;
}

.footer__col--second {
    width: 29%;
    }

.footer__col--second--blogs {
    padding-top: 55px;
    width: 55%;
}

.footer__col--third {
        width: 22%;
        }    

.footer__logo {
    margin-bottom: 30px;

    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-size: 15px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 15px;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /*отстуа у каждой ссылки*/
    font-size: 18px;
    color: #95e1d3;
    transition: background .2s linear;
}

.footer__social-content a:hover {
    color: #74c7b8;
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

/*=========BLOGS+++++++++*/

/*.blogs__blogs {*/
/*    margin: 50px 0 50px 0;*/

/*}*/

.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs__img {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    /* line-height: 1.2; */
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 13px;
}



/*+++++++++++++INSTAGRAM++++++++++++++++*/

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.instagram__item {
    width: 33%;
    /* flex: 1 1 0; */
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=======SUBSCRIBE======*/

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    padding: 12px;
    height: 40px;

    background: #fff;
    border: 1px solid #e7e7e7;

    font-family: 'Roboto', sans-serif; /*для импутов и кнопок прописываем обязательно*/
    font-style: italic;
    color: #333; /*цвет ввода текста*/
    font-weight: 300;
    font-size: 15px;
    line-height: 1.1;
    border-right: 0;
}

.subscribe__input::placeholder {
    color: #ccc; /*ОСОБЫЕ УСЛОВИЯ ДЛЯ ПЛЕЙСХОЛДЕРА*/
}

.subscribe__input:focus {
    outline: 0; /*убираем границы оутлайна*/
    border-color: #95e1d3;

}

.subscribe__button {
    width: 40%;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    transition: background .2s linear;

}

.subscribe__button:hover {
    background-color: #74c7b8;
}

.subscribe__button:focus {
    outline: 0; /*убираем границы оутлайна*/
}


/*******************COPYRIGHT*******************/

.copyright {
    padding: 20px 0 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.copyright span {
    color: #f38181;
}

.date_now {
    padding: 0 20px 10px 0;
    /* border-top: 1px solid #e5e5e5; */
    text-align: right;
    color: #333;
    font-size: 12px;
}



@media (max-width: 1230px) {

    /* Intro */

    .intro {
        background-size: cover;
   
    }
    
    
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }

}

@media (max-width: 990px) {

    /* Intro */

    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 110px;
    }

    /* Stat */
    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .stat__item:last-child {
        border: 0;
    }

        /* Services */
        .services__item {
            width: 50%;
            padding-bottom: 0;
    }

          
        .services__item--border {
            border-bottom: 0;
    }

        /* Reviews */
        .reviews .slick-slider{
            padding: 0 60px;
        }

        .reviews__photo {
            width: 150px;
            height: 150px;
        }

        .reviews__item {
            padding-left: 175px;
        }

        /* clients */
        .clients {
            max-width: 600px;
            margin: 0 auto;
        }
        .clients__item {
            width: 100%;
            padding-right: 0;
        }

        .clients__item:last-child {
            margin-bottom: 0;
        }
        
        /* footer */
        .footer__col--first {
            width: 100%;
        }
        .footer__col--second {
            width: 50%;
        }
        .footer__col--third {
            width: 50%;
        }
         /* instagram */

         .instagram {
            justify-content: flex-start;
         }

         .instagram__item {
            width: auto;
            border-right: 1px solid #fff;
         }
}

@media (max-width: 770px) {

        /* Intro */
        .intro {
            min-height: 650px;
        }

        /* header */
        .header {
            padding: 10px 0;
        }

        /* Nav */

        .nav {
            width: 100%;
           display: none;
           position: absolute;
           top: 100%;
           left: 0;
           background-color: #985739;

        }

        .nav.active {
            display: block;
        }

        .nav__link {
            display: block;
            margin: 0;
            padding: 8px 20px;
        }

        .nav-toggle {
            display: block;
        }

        /* Section */

        .section {
            padding: 40px 0;
        }

        .section--devices {
            padding-bottom: 0;
        }

        /* Card */
        .card {
            margin-top: 50px;
            justify-content: center;
        }

        .card__item {
            width: 100%;
            max-width: 410px;
            margin-bottom: 30px;
        }

        .card__item:last-child {
            margin-bottom: 0;
        }


        /* Slider */
        .slider__inner {
            /* justify-content: center; */
            margin: auto;
        }

        .slider__item {
            padding: 10px 0;
            text-align: center;

            
        }

        .slider__num {
            display: none;
        }
        .slider__text {
            font-size: 14px;
        

        }

        .slider__item.active:before {
            width: 50%;
        }

        /* Services */
        .services {
            justify-content: center;
        }
        .services__item {
            width: 100%;
            max-width: 400px;
            padding-left: 55px;
            padding-right: 0;
        }

        .services__icon {
            left: 0;
        }

        /* WEDO */
        .wedo__img {
            /*display: none;*/
        }

        .wedo__item {
            width: 100%;
        }

        .wedo__item--photo {
            width: 100%;
        }


    /* Reviews */
        .reviews__photo {

            position: static;
            margin: 0 auto 20px;
        }

        .reviews__item {
            padding-left: 0;
        }

        .reviews__text {
            font-size: 16px;
        }

        .reviews__author {
            font-size: 20px;
        }

        /* works */
        .works {
            flex-wrap: wrap;
        }

        .works__col {
            flex: none;
            width: 50%;
        }
            /*BLOG*/
            .blog {
                max-width: 380px;
                margin: 0 auto;
            }

           .blog__item {
            width: 100%;
            margin-bottom: 30px;
        }

        .blog__item:last-child {
            margin-bottom: 0;
        }

                /* footer */

                .footer__col--second,
                .footer__col--third {
                    width: 100%;
                }




    /*registration*/
    .reg__img {
        width: 15%;
    }
    .reg__span {
        width: 15%;
    }
    .reg__input {
        width: 60%;
    }
    .reg__button {
        width: 30%;
    }
    .login__button {
        width: 30%;
    }
}

@media (max-width: 575px) {

    .intro__suptitle {
        font-size: 22px;
        margin: 25px 0px 0px -150px;
    }

    .intro__title {
        font-size: 65px;
    }
        /* Section */

    .section__header {
        margin-bottom: 50px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */

    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }

    /* Devices */

    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }

        /* REVIEWS */
    .reviews .slick-slider{
        padding: 0;
    }        
    .slick-arrow {
        top: 18%;
    }

    /* logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }
    .logos__img {
        margin: 0 auto;
    }

            /* works */

    .works__col {
                width: 100%;
        }

        /* clients */
        .clients__photo {
            position: static;
        }
        .clients__item {
            padding-left: 0;
            text-align: center;
        }

        .clients__text:before {
            margin: 15px auto;
        }

        /* Blogs */

        .blogs__img {
            width: 80px;
            height: 50px;
        }

        .blogs__title {
            font-size: 10px;
        }

        /* subscribe */
        .subscribe {
            flex-wrap: wrap;
            max-width: none;
        }


        .subscribe__input {
            margin-bottom: 10px;
            border-right: 1px solid #e7e7e7;
            width: 100%;
        }
        
        .subscribe__button {
            width: 100%;
        }

    }












/* Модальный (фон) */

/* Стиль изображения, используемого для запуска модального */
.myImg {
    /*border-radius: 5px;*/
    cursor: pointer;
    /*transition: 0.3s;*/
}

.myImg:hover {
    /*opacity: 0.7;*/
}

/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    padding-top: 100px; /* Расположение коробки */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полный высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.9); /* Черный с непрозрачностью */
}

/* Модальное содержание (изображение) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    z-index: 9000;
}

/* Заголовок модального изображения ( текст изображения) - та же ширина, что и изображение */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Добавить анимацию - величение модели */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 125px;
    right: 275px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Ширина изображения на меньших экранах */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}





.postnewstory {
    padding: 0 0 60px;
    display: flex;
    justify-content: center;
}

.stories__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stories__col {
    max-width: 24%;
}

.stories__col img {
    max-width: 100%;
}

.stories__col p {
    font-size: 6px;
}

.stories__col form {
    text-align: center;
    /*max-width: 145%;*/
}

.storymenu form{
    display: flex;
    justify-content: center;
}

.story__label {
    /*flex-wrap: wrap;*/
    /*width: 50%;*/
}

.story__fullblog {
    position: relative;
}

.story__shortblog {
    position: relative;
}

.story__shortblog textarea{
    height: 100px;
    width: 550px;
    border: 2px #cccccc solid;
    border-top: 24px #cccccc solid;
}

.story__shortblog label{
    position: absolute;
    left: 5px;
    top: 0px;
    /*background-color: #985739;*/
}

.story__fullblog textarea{
    /*padding: 22px 5px 5px 5px ;*/
    height: 250px;
    width: 550px;
    /*text-align: -moz-left;*/
    border: 2px #cccccc solid;
    border-top: 24px #cccccc solid;
}


.story__shortblog label{
    position: absolute;
    left: 5px;
    top: 0px;
    /*background-color: #985739;*/
}

.story__fullblog label{
    position: absolute;
    left: 5px;
    top: 0px;
    /*background-color: #985739;*/
}

.story__category__title {
    display: flex;
    justify-content: space-between;
}








    

