body {
    margin: 0; /*убираем margin*/
    font-family: 'Montserrat', sans-serif; /*основной шрифт*/
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 15px; /*размер шрифта*/
    line-height: 1.6; /*межстрочный отступ*/
    color: #333; /*цвет шрифта? по умолчанию*/
}

*,
*:before, /*псевдоэлементы?*/
*:after {
    box-sizing: border-box;
} /*свойство определения размеров для всех элементов страницы*/
h1, h2, h3, h4, h5, h6 {
    margin: 0; /*сброс margin`ов для всех заголовков*/
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;
}

/*========КОНТЕЙНЕР 1200==========*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /*выравнивание по центру*/
}

/*=========ИНТРО=======*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh; /*размер браузера*/
    background: url(../images/intro.jpg) center no-repeat; /*по центру без повторений*/

    /*префиксы? можно посмотреть на caniuse.com*/
    -webkit-background-size: cover; /*???*/
    background-size: cover; /*покрывает всю площадь экрана*/
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;

}

.intro__suptitle {
    margin-bottom: 25px; /*отступ (между заголовками h1 h2)*/
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;


}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; /*высота между строками*/
    color: #fff;
}

.intro__title:after { /*полоса*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto; /*отступ 60 и центрация*/
}

/*==========HEADER=======*/
.header {
    width: 100%;
    padding-top: 30px; /*отступ элементов шапки сверху*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /*индекс расположения? сверху*/
}

.header__inner {
    display: flex;
    justify-content: space-between; /*расположение элементов внутри flеxbox`а*/
    align-items: center; /*выравниваем элементы по горизонт/центр*/

}

.header__logo {
    font-size: 30px;
    font-weight: 700; /*bold*/
    color: #fff;
}

/*========NAV=======*/
.nav {
    font-size: 14px;
    text-transform: uppercase; /*большими буквами*/
}

.nav__link {
    display: inline-block; /*расположение в строку с доп.свойствами (например margin)?*/
    vertical-align: top; /*Свойство CSS vertical-align описывает вертикальное позиционирование строчных (inline), строчно-блочных (inline-block) элементов или ячеек таблицы (table-cell).*/
    margin: 0 15px; /*отступ слева 15px?*/
    position: relative;

    color: #fff;
    text-decoration: none; /*убрал подчёркивание ссылок*/
    transition: color .1s linear; /*0,3 сек плавный переход цвета*/
}

.nav__link:after { /*полоска под навигацией*/
    content: ""; /*свойство контент(пустое?)*/
    display: block; /*почему блок?*/
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0; /*прозрачность 100%*/
    position: absolute; /*относительно родителя*/
    top: 100%; /*расположение в самом низу*/
    left: 0;
    z-index: 1;
    transition: opacity .1s linear; /*скорость "прозрачности"*/
}

.nav__link:hover {
    color: #fce38a; /*смена цвета при наведении*/
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1; /*прозрачность 0%*/
}

.nav__link.active { /*привязать к слайдеру*/
    color: #fce38a;
}

/*==========BUTTON========*/

.btn { 
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff; /*граница кнопки*/
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; /*убираем подчёркивание ссылки*/
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #fce38a; /*color: #333;    ???*/
}

/*========SLIDER======*/

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #fff;
    opacity: .7;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active { /*СДЕЛАТЬ СЛАЙДЕР РАБОЧИМ!!!!1111*/
    opacity: 1;
}

.slider__item.active:before {/*СДЕЛАТЬ СЛАЙДЕР РАБОЧИМ!!!!1111*/
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


/*=====SECTION=======*/

.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url(../images/devices/devices-bg.jpg) center no-repeat;
    background-size: cover;
}

.section--grey {
    background-color: #f8f8f8;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map/map-bg.jpg") center no-repeat;
    -webkit-background-size : cover;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px; /*верх0/левправо-центр/отступ низ40*/
    text-align: center;
}

.section--clients {
    background: #f5f5f5
    url("../images/clients/clients-bg.jpg") center no-repeat;
    -webkit-background-size : cover;
    background-size: cover;

}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto; /*выравниваем по центру марджином*/
    background-color: #f38181;
}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}


/*======card======*/

.card{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.card__item {
    /* background-color: #95e1d3; ориг #999 цвет под изображением */
    width: 380px;
    /* position: relative; позиционируем текст поверх картинки (а не внизу) */
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0); /*смещаем картинку*/
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a); /*градиент представляет собой переходы от одного цвета к другому поверх изобр*/
    transition: transform .2s linear;
}

.card__img img {
    display: block;
    transition: opacity .1s linear;
}
.card__icon {
    position: absolute;
    top: 35%;
    left: 43.75%;
    z-index: 3;
    opacity: 0;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0; /*скрываем текст*/


    position: absolute; /*позиционируем текст поверх картинки (а не внизу)*/
    top: 45%;
    left:-1.75%;
    z-index: 2;
    /* transform: translate3d(0, -50%, 0); */
    /* transition: transform .2s linear; */

    transition: opacity .1s linear; /*прозрачность текста*/
}
 /*СДВИНУТЬ ТЕКСТ ЛЕВО/ВЕРХ, ДОБАВИТЬ ИКОНКИ, ССЫЛКИ*/
.card__inner:hover .card__text {
    opacity: 1; /*показываем текст*/
}

/*СДВИНУТЬ ТЕКСТ ЛЕВО/ВЕРХ, ДОБАВИТЬ ИКОНКИ, ССЫЛКИ*/
.card__item:hover .card__icon {
   opacity: 1; /*показываем текст*/
}

.card__info {
    margin-top: 20px;
    text-align: center;
}


.card__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 4px;
    
}

.card__prof {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}

/*=============СТАТИСТИКА==================*/

.statistics {
    background-color: #95e1d3; /*#95e1d3*/
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0; /*ячейки одинаковой ширины?????????*/
    padding: 70px 25px;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat__item:last-child { /*бордер для крайнего правого элемента*/
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1; /* устанавливает величину пространства между строками*/
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/*===================SERVICES++++++++++++++++++*/

.services {
    display: flex;
}

.services__item {
    flex: 1 1 0; /*ячейки одинаковой ширины?????????*/
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 3px;
    left: 28px;
    z-index: 1;
}

.services__title{
    font-size: 14px;
    /* font-weight: 700; */
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

/*===========DEVICES====================*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*=============WEDO===============*/

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%; /*можно было flex: 1 1 0;*/
}

/*============accordion========*/

.accordion__item {
    margin-bottom: 10px;
    border: solid 1px #e5e5e5;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;

}

.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
    rotate(-45deg); /*вращаем*/
    margin-top: 5px; /*выравниваем визуально*/
}


.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;

    border-bottom: solid 1px transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    margin-top: -5px; /*выравниваем визуально*/

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg); /*вращаем*/
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px; /*вровень с контентом*/
    z-index: 1;

    transform: translateY(-50%); /*выравниваем по Y*/
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #999;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*=======Reviews========*/

.reviews {
    position: relative;
    padding: 0 110px;
}


.reviews__item {
    margin-bottom: 50px;
    padding-left: 240px;
    position: relative;
}

.reviews__photo {
    /* border: 2px solid #95e1d3; */
    /* border-radius: 50%; */
    width: 18%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #999;
    /* margin-bottom: 20px; */
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}

.reviews__btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}


/*============SOCIAL++++++++*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 13px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;

    line-height: 1;
    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

/*=====LOGOS========*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*===========WORKS===+++++++++++++*/

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0; /*?????????????????*/
}


.works__item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image{
    opacity: .1;
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__image {
    display: block;
    transition: opacity .2s linear;

    max-width: 100%;
    height: auto;
}

.works__info {
    
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear ;
}

.works__title {
    margin: 4px;
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}


/*++++++++CLIENTS++++++++*/

.clients {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; /*перенос на новую строку*/

}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    
}

.clients__name {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

.clients__prof {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #333;
    font-weight: 300;
    font-size: 15px;
}

.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

.clients__text:before { /*полоска перед текстом*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

/*+++++++++BLOG+++++++++*/

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 31%;
}

.blog__header {
    position: relative;
    margin-bottom: 15px;

}

.blog__photo {
    display: block;
    width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 15px;
    background-color: #95e1d3;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    /* text-align: right; */
}

.blog__date-day {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.blog__date-month {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 1;
    text-align: center;
}

.blog__content {
    margin-bottom: 14px; /*убрать*/
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    text-decoration: none;
    color: inherit; /*ссылка принимает значение родителя*/
}

.blog__title a:hover {
    text-decoration: underline; /*ссылка при наведении*/
}

.blog__text {
    font-family: 'Roboto', sans-serif;
    color: #999;
    /* font-weight: 400; */
    font-size: 15px;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 15px;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

.blog-stat__item i {
    color: #95e1d3;
    margin-right: 5px;
}




/**___________MAP+++++++++*/

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    font-weight: 700;
    color: #f38181  ;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0; /*выравниваем по центру марджином*/
    background-color: #f38181;
}

.map__title a {
    color: inherit; /*ссылка принимает значение родителя*/
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline; /*ссылка при наведении*/
}

/*=======FOOTER++++++++*/

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}

.footer__inner {
    padding-bottom: 65px;
    justify-content: space-between;
    display: flex;
}

.footer__col--first {
width: 40%;
}

.footer__col--second {
    width: 29%;
    }

.footer__col--third {
        width: 22%;
        }    

.footer__logo {
    margin-bottom: 30px;

    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-size: 15px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 15px;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; /*отстуа у каждой ссылки*/
    font-size: 18px;
    color: #95e1d3;
    transition: background .2s linear;
}

.footer__social-content a:hover {
    color: #74c7b8;
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

/*=========BLOGS+++++++++*/

.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.blogs__img {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    /* line-height: 1.2; */
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    font-size: 13px;
}



/*+++++++++++++INSTAGRAM++++++++++++++++*/

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.instagram__item {
    width: 32.33%;
    /* flex: 1 1 0; */
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
}

/*=======SUBSCRIBE======*/

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    padding: 12px;
    height: 40px;

    background: #fff;
    border: 1px solid #e7e7e7;

    font-family: 'Roboto', sans-serif; /*для импутов и кнопок прописываем обязательно*/
    font-style: italic;
    color: #333; /*цвет ввода текста*/
    font-weight: 300;
    font-size: 15px;
    line-height: 1.1;
    border-right: 0;
}

.subscribe__input::placeholder {
    color: #ccc; /*ОСОБЫЕ УСЛОВИЯ ДЛЯ ПЛЕЙСХОЛДЕРА*/
}

.subscribe__input:focus {
    outline: 0; /*убираем границы оутлайна*/
    border-color: #95e1d3;

}

.subscribe__button {
    width: 40%;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    padding: 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    transition: background .2s linear;

}

.subscribe__button:hover {
    background-color: #74c7b8;
}

.subscribe__button:focus {
    outline: 0; /*убираем границы оутлайна*/
}


/*******************COPYRIGHT*******************/

.copyright {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.copyright span {
    color: #f38181;
}










